<div class="container">
   <div class="row">
      <div class="col-sm-12 col-xs-12 text-center">
         <h4>This is EJS file ........</h4>
         <p>Random of number: <%= randomNumber %></p>
         <p>Date of today: <%= todayDate%></p>
      </div>
   </div>
</div>
